@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Azure Policy Flow Editor";
}

<link rel="stylesheet" href="~/css/drawflow.css" />

<div class="container-fluid mt-4">
    <h2>Azure Policy Flow Editor</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="accordion" id="sidebarAccordion" style="border:1px solid #ccc; background:#fff;">
                @{
                    ViewData["Title"] = "Logical Operators";
                    ViewData["Id"] = "logical-nodes";
                    ViewData["Expanded"] = true;
                    ViewData["Step"] = "1";
                }
                <partial name="_AccordionSection" />

                @{
                    ViewData["Title"] = "Fields";
                    ViewData["Id"] = "fields-nodes";
                    ViewData["Expanded"] = false;
                    ViewData["Step"] = "2";
                }
                <partial name="_AccordionSection" />

                @{
                    ViewData["Title"] = "Conditions";
                    ViewData["Id"] = "conditions-nodes";
                    ViewData["Expanded"] = false;
                    ViewData["Step"] = "3";
                }
                <partial name="_AccordionSection" />

                @{
                    ViewData["Title"] = "Effect";
                    ViewData["Id"] = "effect-nodes";
                    ViewData["Expanded"] = false;
                    ViewData["Step"] = "4";
                }
                <partial name="_AccordionSection" />
            </div>
        </div>
        <div class="col-md-9">
            <div id="drawflow"></div>
        </div>
    </div>
    <partial name="_PolicyOutput" />
</div>

@section Scripts {
    <script src="~/js/drawflow.js"></script>
    <script>
        $(document).ready(function() {
            initDrawflow();
        });
    </script>
}